.chatbot {
  position: fixed;
  right: 40px;
  bottom: 100px;
  width: 420px;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);

  header {
    background: #724ae8;
    padding: 16px 0;
    text-align: center;
    position: relative;

    h2 {
      color: #fff;
      font-size: 1.4rem;
    }

    span {
      position: absolute;
      right: 20px;
      top: 50%;
      color: #fff;
      cursor: pointer;
      display: none;
      transform: translateY(-50%);
    }
  }

  .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
  } 

  .chatbox {
    height: 510px;
    overflow: auto;
    padding: 15px 20px 70px;
  }

  &-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background: #724ae8;
    border-radius: 50%;

    span {
      position: absolute;

      &:last-child {
        opacity: 0;
      }
    }
  }
}

.chat-input {
  textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;

    &:valid ~ span {
      visibility: visible;
    }

    span {
      align-self: flex-end;
      height: 55px;
      line-height: 55px;
      color:#724ae8;
      font-size: 1.35rem;
      cursor: pointer;
      background: red;
      visibility: hidden;

    }
  }
}

.chatbox {
  height: 510px;
  overflow: auto;
  padding: 15px 20px 70px;

  .chat {
    display: flex;

    p {
      color: #fff;
      font-size: 0.95rem;
      padding: 12px 16px;
      border-radius: 10px 10px 0 10px;
      background: #724ae8;
    }
  }

  .incoming {
    p {
      color: #000;
      background: #f2f2f2;
      border-radius: 10px 10px 10px 0;
    }

    span {
      height: 32px;
      width: 32px;
      color: #fff;
      align-self: flex-start;
      background: #724ae8;
      text-align: center;
      line-height: 32px;
      border-radius: 4px;
      margin: 0 10px 7px 0;
    }
  }

  .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }
}